<div class="container">
  <app-header (toggleSidenav)="snav.toggle()"></app-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" fixedInViewport="true" fixedTopGap="68">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="body">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
        <div class="footer">
          <span>Powered by ngx-hipster &copy;&nbsp;2019-2020</span>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
