.full-width {
  width: 100%;
}

.content--inline-display {
  display: inline-block;
}

.form-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card {
  min-width: 120px;
  position: relative;
}

.error {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.mat-radio-button {
  margin: 5px 14px;
  height: 39px;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
}
