const PROXY_CONFIG = [
  {
    context: [ <% for(let proxyVar of  proxyPaths) { %> '<%= proxyVar %>',<% } %>],
    target: '<%= serverUrl %>',
    secure: false
  }
];

module.exports = PROXY_CONFIG;
