<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>movie</mat-card-title>
    <mat-card-subtitle>{{
      movie?.id ? 'Update an existing movie.' : 'Creates a new movie.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter movie title"
          formControlName="title"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('title')"
            label="Title"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Plot</mat-label>
        <textarea
          matInput
          placeholder="Enter movie plot"
          formControlName="plot"
        ></textarea>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('plot')"
            label="Plot"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <div class="full-width content--inline-display">
        <mat-label>Rated</mat-label>
        <mat-radio-group formControlName="rated" aria-label="Rated">
          <mat-radio-button
            *ngFor="let ratedOption of ratedOptions"
            [value]="ratedOption.key"
            >{{ ratedOption.value }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Genres</mat-label>
        <mat-select formControlName="genres" required multiple>
          <mat-option
            *ngFor="let genresOption of genresOptions"
            [value]="genresOption.key"
            >{{ genresOption.value }}</mat-option
          >
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('genres')"
            label="Genres"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Director</mat-label>
        <mat-select formControlName="director" required>
          <mat-option>--Select--</mat-option>
          <mat-option
            *ngFor="let directorOption of directorOptions"
            [value]="directorOption.key"
            >{{ directorOption.value }}</mat-option
          >
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('director')"
            label="Director"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Writer</mat-label>
        <input
          type="text"
          required
          matInput
          placeholder="Select movie writer"
          formControlName="writer"
          [matAutocomplete]="autoWriter"
        />
        <mat-autocomplete
          #autoWriter="matAutocomplete"
          autoActiveFirstOption="true"
        >
          <mat-option
            *ngFor="let writerOption of filteredWriterOptions | async"
            [value]="writerOption.key"
            >{{ writerOption.value }}</mat-option
          >
        </mat-autocomplete>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('writer')"
            label="Writer"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Release Date</mat-label>
        <input
          type="text"
          required
          matInput
          placeholder="Select movie release date"
          formControlName="releaseDate"
          [matDatepicker]="releaseDatePicker"
        />
        <mat-datepicker-toggle
          matSuffix
          color="accent"
          [for]="releaseDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker color="accent" #releaseDatePicker></mat-datepicker>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('releaseDate')"
            label="Release Date"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ movie?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
