import { Component } from '@angular/core';

@Component({
  selector: '<%= prefix %>-sidenav',
  templateUrl: './sidenav.component.html',
  styleUrls: ['./sidenav.component.scss']
})
export class SidenavComponent {}
