.container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.card {
	width: 400px;
}

.title {
	margin-bottom: 0.5em;
}

.error {
	margin-bottom: 1.5rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.login-btn {
	width: 100%;
}
